
<div class="container divContainer">
<form [formGroup]="meuForm" class="form-signin form-group row form" (submit)="cadastrar($event)">
  <img class="mb-4" src="../assets/logo.png" alt="AFFLO" width="300">
  <h1 class="h2 mb-3 font-weight-normal text-center">Cadastro</h1>
  <div class="form-group">
    <label for="inputNome" class="sr-only">Nome</label>
    <input  formControlName = "nome" name="nome" [(ngModel)]="nome"  type="text" id="inputNome" class="form-control" placeholder="Digite seu nome completo" autofocus autocomplete="off">
    <div *ngIf="meuForm.controls.nome.invalid">
      <span *ngIf="meuForm.controls.nome.errors.required" class="form-control alert-danger">
          Nome obrigatório!
      </span> 
      <span *ngIf="meuForm.controls.nome.errors.pattern" class="form-control alert-danger">
        Nome completo!
      </span> 
   </div>
    <label for="inputEmail" class="sr-only">Email</label>
    <input  formControlName = "email" name="email" type="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Digite seu email" autocomplete="off">
    <div *ngIf="meuForm.controls.email.invalid">
      <span *ngIf="meuForm.controls.email.errors.required" class="form-control alert-danger">
          Email obrigatório!
      </span> 
      <span *ngIf="meuForm.controls.email.errors.email && !meuForm.controls.email.value==''" class="form-control alert-danger">
        Email inválido!
      </span> 
   </div>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input  formControlName = "senha" name="senha" [(ngModel)]="senha" type="password" id="inputPassword" class="form-control" placeholder="Digite uma senha" >
    <div *ngIf="meuForm.controls.senha.invalid">
      <span *ngIf="meuForm.controls.senha.errors.required" class="form-control alert-danger">
         A senha é obrigatória!
      </span> 
      <span *ngIf="meuForm.controls.senha.errors.minlength" class="form-control alert-danger">
         A senha deve conter no mínimo 6 caracteres!
      </span> 
   </div>
    <label for="inputPasswordConfirma" class="sr-only">Confirme sua senha</label>
    <input  formControlName="confirmaSenha" name="confirmaSenha" type="password" id="inputPasswordConfirma" class="form-control" placeholder="Confirmar senha" >
    <div *ngIf="meuForm.controls.confirmaSenha.invalid">
      <span *ngIf="meuForm.controls.confirmaSenha.errors.required" class="form-control alert-danger">
        Por favor confirmar a senha!
      </span> 
      
   </div>
   <span *ngIf="meuForm.controls.confirmaSenha.value != meuForm.controls.senha.value && meuForm.controls.confirmaSenha.value.length>=1" class="form-control alert-danger">
      
      As senhas não coincidem!
   </span> 
  </div>

  <button id="cadastra" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="meuForm.invalid ||meuForm.controls.confirmaSenha.value != meuForm.controls.senha.value " (click)="cadastrar()">Cadastrar</button>
  <button id="volta" class="btn btn-lg btn-primary btn-block" type="submit" [routerLink]="['']" >Voltar</button>
</form>
</div>