<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <h1>Questionário de avaliação de Growth Hacker</h1>
    <div class="questionario-full">
      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>1. Qual é o funil usado por um Growth Hacker?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao1" value="true" type="radio"> AARRR
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao1" value="false" type="radio"> Funil de vendas
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao1"value="false" type="radio"> AIDA
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao1" value="false" type="radio"> Nenhuma das alternativas
              </label>
            </div>
          </form>
        </div>
      </div>


      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>2. Das ferramentas abaixo, qual NÃO é utilizada por um Growth Hacker?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao2" value="false" type="radio"> SEO
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao2" value="false" type="radio"> SEM
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao2" value="false" type="radio"> Teste A/B
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao2" value="true" type="radio"> VS Code
              </label>
            </div>
            <br>
          </form>
        </div>
      </div>


      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>3. Você foi contratado por uma Startup que vende SAAS e chegando na empresa, quais são as métricas que você vai avaliar antes de partir para a ação?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao3" value="true" type="radio"> CAC, MRR, LVT e Churn
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao3" value="false" type="radio"> CPA, CPC, CPM e ROI
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao3" value="false" type="radio"> CPC, LVT e ROI
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao3" value="false" type="radio"> Nenhuma das alternativas
              </label>
            </div>
          </form>
        </div>
      </div>

      
      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>4. O processo de Growth Marketing pode ser definido como:</p>
        </div>

        <div class="respostas">
          
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao4" value="false" type="radio"> Inbound Marketing, Persona, Conteúdo, UX, Mídias Sociais, PPC e ROI
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao4" value="false" type="radio"> Outbound, Neuromarketing e pesquisa de mercado
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao4" value="false" type="radio"> Criação de conteúdo, SEO e muitos experimentos
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao4" value="true" type="radio"> Todas as anteriores
              </label>
            </div>
          </form>
        </div>
      </div>


      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>5. Para trackear o tráfego do visitante em seu site, você utiliza:</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao5" value="false" type="radio"> Analytics e Mailchimp
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao5" value="true" type="radio"> UTM e URL Builder
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao5" value="false" type="radio"> Pixel do facebook e Analytics
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao5" value="false" type="radio"> Hubspot e Adwords
              </label>
            </div>
          </form>
        </div>
      </div>
      
      
      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>6. Você mandou uma campanha de e-mail marketing e percebeu que o CTA está ótimo, mas o CTR dos e-mails está baixo. Qual o problema do e-mail?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao6" value="false" type="radio"> Keyword planer está errado
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao6" value="false" type="radio"> Problema de layout
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao6" value="false" type="radio"> SPAMMER
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao6" value="true" type="radio"> Nenhuma das alternativas anteriores
              </label>
            </div>
          </form>
        </div>
      </div>


      <div class="box-pergunta">
        <div class="pergunta-head">						
          <p>7. Você tem um ótimo índice de CRO em novos clientes e seu CAC está alto. Qual estratégia abaixo pode resolver o problema?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao7" value="true" type="radio"> Referral
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao7" value="false" type="radio"> Adwords
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao7" value="false" type="radio"> Criação de Conteúdo
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao7" value="false" type="radio"> Nenhuma das alternativas anteriores
              </label>
            </div>
          </form>
        </div>
      </div>	


      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>8. Quem indica amigo é. Qual etapa do funil será trabalhada?</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao8" value="false" type="radio"> Aquisição
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao8" value="false" type="radio"> Ativação
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao8" value="false" type="radio"> Retenção
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao8" value="true" type="radio"> Referência
              </label>
            </div>
          </form>
        </div>
      </div>

      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>9. O termo Growth Hacking foi cunhado por:</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao9" value="false" type="radio"> Mark Zuckerberg
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao9" value="false" type="radio"> Neil Patel
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao9" value="true" type="radio"> Sean Ellis
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao9" value="false" type="radio"> Vin Clancy
              </label>
            </div>
          </form>
        </div>
      </div>


      <div class="box-pergunta">
        <div class="pergunta-head">
          <p>10. O Ice Score é utilizado para:</p>
        </div>

        <div class="respostas">
          <form role="form" name="quizform" action="#" method="post">
            <div class="radio">
              <label>
                <input name="questao10" value="false" type="radio"> Validação de check out
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao10" value="false" type="radio"> Automatizar processos de Growth
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao10" value="true" type="radio"> Priorizar experimentos
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="questao10" value="false" type="radio"> Votação de Scrum
              </label>
            </div>
          </form>
        </div>
      </div>

      <input class="w3-btn w3-orange w3-large w3-text-white" value=" Enviar " type="submit">
    </div>
  </div>
</main>

