<form>
  <div class="form-group">
  <p>1 - Qual é funil usado por um growth hacker?</p>
  <input type="radio" name="questao1" value="true">a-) AARRR;<br>
  <input type="radio" name="questao1" value="false">b-) Funil de vendas;<br>
  <input type="radio" name="questao1" value="false">c-) AIDA;<br>
  <input type="radio" name="questao1" value="false">d-) Nenhuma das alternativas;<br>


  <p>2 - Das ferramentas abaixo, qual não é utilizada por um Growth Hacker?</p>
  <input type="radio" name="questao2" value="false">a-) SEO;<br>
  <input type="radio" name="questao2" value="false">b-) SEM;<br>
  <input type="radio" name="questao2" value="false">c-) Teste A/B;<br>
  <input type="radio" name="questao2" value="true">d-) VS Code;<br>

  <p>3 - Você foi contratado por uma Startup que vende SAAS e chegando na empresa, quais são as métricas que você vai avaliar antes de partir para a ação?</p> 
  <input type="radio" name="questao3" value="true">a-) CAC, MRR, LVT e Churn;<br>
  <input type="radio" name="questao3" value="false">b-) CPA, CPC, CPM e ROI;<br>
  <input type="radio" name="questao3" value="false">c-) CPC, LVT e ROI<br>
  <input type="radio" name="questao3" value="false">d-) Nenhuma das alternativas;<br>


  <p>4 - O processo de Growth Marketing pode ser definido como:</p>
  <input type="radio" name="questao4" value="false">a-) Inbound Marketing, Persona, Conteúdo, UX, Mídias Sociais, PPC e ROI;<br>
  <input type="radio" name="questao4" value="false">b-) Outbound, Neuromarketing e pesquisa de mercado;<br>
  <input type="radio" name="questao4" value="false">c-) Criação de conteúdo, SEO e muitos experimentos;<br>
  <input type="radio" name="questao4" value="true">d) todas as anteriores;<br>


  <p>5 - Para trackear o tráfego do visitante em seu site, você utiliza:</p>
  <input type="radio" name="questao5" value="false">a-) Analytics e Mailchimp;<br>
  <input type="radio" name="questao5" value="true">b-) UTM e URL Builder;<br>
  <input type="radio" name="questao5" value="false">c-) Pixel do Facebook e Analytics;<br>
  <input type="radio" name="questao5" value="false">d-) Hubspot e Adwords;<br>

<!-- 
  <p>6 - Você mandou uma campanha de e-mail marketing e percebeu que o CTA está ótimo, mas o CTR dos e-mails está baixo. Qual o problema do e-mail?</p>
  <input type="radio" name="questao6" value="false">a-) Keyword planer está errado;<br>
  <input type="radio" name="questao6" value="false">b-) Problema de layout;<br>
  <input type="radio" name="questao6" value="false">c-) SPAMMER;<br>
  <input type="radio" name="questao6" value="true">d-) Nenhuma das alternativas anteriores;<br>

  <p>7 - Você tem um ótimo índice de CRO em novos clientes e seu CAC está alto. Qual estratégia abaixo pode resolver o problema?</p>
  <input type="radio" name="questao7" value="true">a-) Referral;<br>
  <input type="radio" name="questao7" value="false">b-) Adwords;<br>
  <input type="radio" name="questao7" value="false">c-) Criação de Conteúdo;<br>
  <input type="radio" name="questao7" value="false">d-) Nenhuma das alternativas;<br>

  <p>8 - Quem indica amigo é. Qual etapa do funil será trabalhada?</p>
  <input type="radio" name="questao8" value="false">a-) Aquisição;<br>
  <input type="radio" name="questao8" value="false">b-) Ativação;<br>
  <input type="radio" name="questao8" value="false">c-) Retenção;<br>
  <input type="radio" name="questao8" value="true">d-) Referência;<br>

  <p>9 - O termo Growth Hacking foi cunhado por:</p>
  <input type="radio" name="questao9" value="false">a-) Mark Zuckerberg;<br>
  <input type="radio" name="questao9" value="false">b-) Neil Patel;<br>
  <input type="radio" name="questao9" value="true">c-) Sean Ellis;<br>
  <input type="radio" name="questao9" value="false">d-) Vin Clancy;<br>

  <p>10 - O Ice Score é utilizado para:</p>
  <input type="radio" name="questao10" value="false">a-) Validação de check out;<br>
  <input type="radio" name="questao10" value="false">b-) Automatizar processos de Growth;<br>
  <input type="radio" name="questao10" value="true">c-) Priorizar experimentos;<br>
  <input type="radio" name="questao10" value="false">d-) Votação de Scrum;<br> -->
  </div>  
  <!-- <input name="options" ng-control="options" type="radio" [value]="1"  [(ngModel)]="model.options" ><br/>

  <input name="options" ng-control="options" type="radio" [value]="2" [(ngModel)]="model.options" ><br/> -->
</form>

